@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'SFPRO';
  src: url('../../public/fonts/SFPRODISPLAYBOLD.OTF');
  src: url('../../public/fonts/SFPRODISPLAYMEDIUM.OTF');
  src: url('../../public/fonts/SFPRODISPLAYREGULAR.OTF');
  font-weight: 400;
  font-style: normal;
}

::-moz-selection {
  /* Code for Firefox */
  background: #5c9e51;
  color: black;
}

::selection {
  background: #5c9e51;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#3C8A2E, #70b165);
}

input[type="date"]::-webkit-calendar-picker-indicator::before {
  color: #3C8A2E;
}



input[type="file"] {
  opacity: 0;
  z-index: -1;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'SFPRO';


}

.box {
  background: url("../../public/assets/gradientbg.svg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 80% 170%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins';

}


a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  letter-spacing: 2px
}

span {
  font-size: 18px;
}

h3 {
  margin-top: 1em;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#3C8A2E, #70b165);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.main-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 43px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  background-color: #3C8A2E;
  border-radius: 5px;
  border: none;
}

.services-tab {
  background: rgba(75, 75, 75, 0.103);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 5px;
  width: 90%;
  margin: auto;
  align-items: center;
}

.service-tab {
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  width: 100%;
  height: 13em;
  padding: 2em;
  cursor: pointer;
  margin: auto;
  justify-content: center;
}

.service-tab:hover {
  box-shadow: inset #3c8a2e7c 2px 2px 20px;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

.hover-tab::after {
  content: '';
  background-image: url(/assets/icons/arrow.svg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.hover-tab:hover::after {
  display: inline-block;
  background-image: url(/assets/icons/arrow.svg);
  background-size: 10%;
  margin-left: 44%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}


.workflow-tab {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: auto;
  padding: 3px;
  background: rgba(75, 75, 75, 0.103);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 2px;
}

.workflow-tab:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: inset #3c8a2e7c 2px 2px 20px;

}

.career-tab {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(75, 75, 75, 0.103);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 1%;
}

.career-tab:hover {
  box-shadow: inset #3c8a2e7c 2px 2px 20px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  background: rgba(75, 75, 75, 0.103);
  transition: opacity 0.3s ease-in-out;
}


/* .career-hover-tab:hover::after {
  content: '';
  background-image: url(/assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: 180% 30%;
  padding-top: 5em;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

} */




.contact {
  align-self: center;
  background: rgba(75, 75, 75, 0.103);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  display: inline-block;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.career-container {
  position: relative;
  padding: 2em;
  background: rgba(75, 75, 75, 0.103);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  width: 40%;
  margin: auto;
  margin-top: 10em;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .career-container {
    width: 80%;
  }
}

@media screen and (max-width: 1600px) {
  .career-container {
    width: 80%;
  }
}

.shape1 {
  margin-left: 40%;
  margin-top: 20%;
  width: 100%;
  position: absolute;
}

.shape2 {
  padding-right: 80%;
  width: 100%;
}


.dot {
  color: #3C8A2E;
  margin-right: 4px;
}


.ul {
  list-style: none;
  margin-left: -25px;
}

.li {
  padding-left: 1.5em;
}

.li:before {
  content: "•";
  color: #3C8A2E;
  margin-right: 4px;
}

.hover-zoom {
  transition: all 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.footer-title {
  color: #3C8A2E;
  font-weight: 700;
}

.footer-hover:hover {
  color: #3C8A2E;
}

.title {
  font-size: 25px;
  border-bottom: #3C8A2E 1px solid;
  width: 70%;
}

.description {
  margin-top: 30px;
  font-size: 18px;
}

/* 
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 7%;
  left: 30%;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 16%;
  left: 30%;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 24%;
  left: 30%;
}

.container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 33%;
  left: 30%;
}

.container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 42%;
  left: 30%;
}


.container6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 50%;
  left: 30%;
}

.container7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 60%;
  left: 30%;
} */



/* @media screen and (max-width: 368px) {
  .wrapper {
    padding-top: 90%;
  }

  .title {
    font-size: 15px;
  }

  .description {
    font-size: 14px;
  }

  .container1 {
    width: 80%;
    left: 10%;
  }

  .container2 {
    width: 80%;
    left: 10%;
  }

  .container3 {
    width: 80%;
    left: 10%;
  }

  .container4 {
    width: 80%;
    left: 10%;
  }

  .container5 {
    width: 80%;
    left: 10%;
  }

  .container6 {
    width: 80%;
    left: 10%;
  }

  .container7 {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 90%;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 18px;
  }

  .container1 {
    width: 80%;
    left: 10%;
  }

  .container2 {
    width: 80%;
    left: 10%;
  }

  .container3 {
    width: 80%;
    left: 10%;
  }

  .container4 {
    width: 80%;
    left: 10%;
  }

  .container5 {
    width: 80%;
    left: 10%;
  }

  .container6 {
    width: 80%;
    left: 10%;
  }

  .container7 {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .container1 {
    width: 80%;
    left: 10%;
  }

  .container2 {
    width: 80%;
    left: 10%;
  }

  .container3 {
    width: 80%;
    left: 10%;
  }

  .container4 {
    width: 80%;
    left: 10%;
  }

  .container5 {
    width: 80%;
    left: 10%;
  }

  .container6 {
    width: 80%;
    left: 10%;
  }

  .container7 {
    width: 80%;
    left: 10%;
  }
} */
.service-container {
  align-items: center;
  justify-content: center;
  width: 80%;
}

.number {
  font-weight: 900;
  font-size: 50px;
  color: #3C8A2E;
  margin-right: 30px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;
}

.wrapper1 {
  border-bottom: 1px dashed #fff;
  border-left: 1px dashed #fff;
  align-items: center;
  text-align: left;
  margin: auto;
  padding: 4em;
}

.wrapper2 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-right: 1px dashed #fff;
}

.wrapper3 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-left: 1px dashed #fff;
}

.wrapper4 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-right: 1px dashed #fff;
}

.wrapper5 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-left: 1px dashed #fff;
}

.wrapper6 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-right: 1px dashed #fff;
}

.wrapper7 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-left: 1px dashed #fff;
}

.wrapper8 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px dashed #fff;
  padding: 4em;
  border-right: 1px dashed #fff;
}